@page "/"
@page "/page/{pageNo:int?}"

@inject NavigationManager navManager

@inject IBookService bookService
@inject ICommonService commonService

<PageTitle>Home</PageTitle>

<SectionContent SectionName="PageTitle">
	@if (commonService.IsWeb)
	{
		<h1 class="m-0 text-white fw-bold">Buddy's Books</h1>
		<h3 class="text-white mt-2">Hundreds of books for your pleasure</h3>
	}
	else
	{
		<span>Buddy's books'</span>
	}

</SectionContent>

<SectionContent SectionName="MobilePageTitle">

</SectionContent>

<div class="container-lg">

	<div class="row">
		<div class="col-md-9">
			<div class="row">

				@if (commonService.IsWeb)
				{
					<div class="col-sm-12">
						<div class="genre-list">
							<div class="genre-item @(string.IsNullOrWhiteSpace(GenreSlug) ? "active" : "")">
								<a class="genre-link" href="/" title="Top Books">Top Books</a>
							</div>
							@foreach (var genre in _genres)
							{
								<div class="genre-item @(GenreSlug == genre.Slug ? "active" : "")">
									<a class="genre-link" href="?genre=@genre.Slug" title="@genre.Name Books">@genre.Name</a>
								</div>
							}
						</div>
					</div>
				}

				

				<h3 class="mt-2 mb-3 heading">@_heading</h3>

				@* <div class="row">
					@foreach(var book in _books)
					{
						<div class="book-block col-sm-6 col-lg-3">
							<a href="/books/@book.Id" title="@book.Title">

								<figure class="bg-main-light image-box">
									<img class="book-img" src="@book.Image" alt="@book.Title" />
								</figure>
							
								<div class="p-2">
									<h6 class="text-main heading text-center">@book.Title</h6>
								</div>
							</a>
						</div>
					}
				</div> *@

				<BooksGrid Books="_books" />

				<div class="paging w-100">
					@if (commonService.IsWeb)
					{
						<div class="d-flex justify-content-center align-items-center">
							<Pagination PrevPageUrl="@_previousPageUrl" NextPageUrl="@_nextPageUrl"/>
						</div>
					}
					else
					{
						<div class="d-flex justify-content-between align-items-center">
							<Pagination PrevPageUrl="@_previousPageUrl" NextPageUrl="@_nextPageUrl" />
						</div>						
					}
				</div>

			</div>
		</div>

		<div class="col-md-3">

			@* <div class="right-box">

				<h3 class="heading m-0 mt-2 text-center py-3 bg-white heading">Popular Books</h3>
				<div class="popular-books-list">
					@foreach (var book in _popularBooks)
					{
						<div class="popular-book-item">
							<a href="/books/@book.Id" title="@book.Title">							
								<img src="@book.Image" alt="book.Title" class="me-3"/>
							</a>
							<div class="d-flex flex-column justify-content-center">
								<a href="/books/@book.Id" class="book-title" title="@book.Title">@book.Title</a>
								<a href="/authors/@book.Author.Slug/books" title="Books by @book.Author.Name" class="book-author">by @book.Author.Name</a>
							</div>
						</div>
					}
				</div>
				
			</div> *@

			<PopularBooks PopularBooksList="_popularBooks"/>

		</div>
	</div>
</div>
@code {

	private const int PageSize = 16;

	[Parameter]
	public int? PageNo { get; set; }

	[SupplyParameterFromQuery(Name = "genre")]
	public string? GenreSlug { get; set; }

	private string? _nextPageUrl;
	private string? _previousPageUrl;

	private GenreDto[] _genres = [];
	private BookListDto[] _books = [];
	private BookListDto[] _popularBooks = [];
	private int _totalCount = 0;

	private string _heading = "Top Books";

	protected override async Task OnParametersSetAsync()
	{
		if(PageNo < 2)
		{
			navManager.NavigateTo("/?genre=");
			return;
		}

		commonService.ShowLoader("Loading...");

		var genreTask = bookService.GetGenresAsync(topOnly: false);
		var booksTask = bookService.GetBooksAsync(PageNo ?? 1, PageSize, GenreSlug);
		var popularTask = bookService.GetPopularBooksAsync(10);


		_genres = await genreTask;
		(_books, _totalCount) = await booksTask;
		_popularBooks = await popularTask;

		SetPagingUrls();

		if (!string.IsNullOrWhiteSpace(GenreSlug))
		{
			var selectedGenre = _genres.FirstOrDefault(g => g.Slug == GenreSlug);
			if (selectedGenre.Name is not null)
			{
				_heading = $"{selectedGenre.Name} Books";
			}
			else
			{
				_heading = "Top Books";
			}
		}
		else
		{
			_heading = "Top Books";
		}

		if(PageNo > 1)
		{
			_heading += $" | Page {PageNo}";
		}

		commonService.HideLoader();

	}

	private void SetPagingUrls()
	{
		var currentPageBookCount = _books.Length;

		var parts = navManager.Uri.Split('?');
		var queryString = "";

		if (parts.Length > 1)
		{
			queryString = $"?{parts[1]}";
		}
		if (PageNo is null || PageNo == 1)
		{
			_previousPageUrl = null;
			if(currentPageBookCount < PageSize)
			{
				_nextPageUrl = null;
			}
			else
			{
				_nextPageUrl = $"/page/2{queryString}";
			}
		}
		else
		{
			if (PageNo > 2)
			{
				_previousPageUrl = $"/page/{(PageNo - 1)}{queryString}";
			}
			else
			{
				_previousPageUrl = $"/{queryString}";
			}

			if (currentPageBookCount < PageSize)
			{
				_nextPageUrl = null;
			}
			else
			{
				_nextPageUrl = $"/page/{(PageNo + 1)}{queryString}";
			}
			

		}
	}
}
